@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
html, body{
    width: 100%;
    min-height: max-content;
    font-size: 100%;
    margin:0;
}
@import 'utils/variables';
@import 'utils/link-disposition';

@import 'layout/header';
@import 'pages/acceuil';
@import 'pages/produits';
@import 'pages/panier';
@import 'pages/recap';

@import 'layout/footer';